// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, html {
    height:100%;
    margin:0px auto;
    padding:0px auto;
    color:white;
    font-family: helvetica;
    text-align: center;
}


#wrapper1 {
  min-height: 100%;
  position: relative;
  display: block;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  background-image: image-url("arlanda-express.png");
	background-color: black;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position-x: -20px;
	background-position-y: center;
	background-size: 80px 60px;

    
}

h2 {
	line-height: 1.5;
}


 .row {
 	margin-bottom: 20px;
 }

 .row .first {
 	margin-top: 20px;
 }


.arrow {
    /*all: initial!important;
    width: 100%!important;
    height: auto!important;*/
    height: auto;
    position: absolute;
    display: block;
    bottom:0;
    margin-right: auto;
    margin-left: auto;
    right: 0;
    left: 0;
}

#wrapper2 {
	background-image: image-url("Automat.jpg");
	background-color: black;
	background-repeat: repeat;
	background-position: center;
	background-attachment: bottom;
	background-size: 600px 900px;
	padding: 50px;
	display: block;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
h3 {
	line-height: 1.5;
}

#wrapper3 {
	background-image: image-url("Train02.png");
	background-color: black;
	background-repeat: repeat;
	background-attachment: fixed;
	background-position-y: center;
	background-position-x: -220px;
	padding: 50px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

a, a:focus {
	color:#FFDC2E;
	outline: none;
}
a:hover {
	color:#fcff29;
}
.no_link {
  pointer-events: none;
}
.blue {
  color:blue;
}

.yellow {
	color:#FFDC2E;
}

#timetable .row .box {
	border-bottom: 1px solid white;
	margin: -5px;
	text-align: right;
}
#wrapper3 #timetable .split_button {
	text-align: center;
}

#wrapper3 .row {
	margin-bottom: 15px;
}

.timedesc {
	padding-right: 10px;
	padding-left: 10px;
	display:block;
	text-align: center;
}

.row-centered {
	text-align: center;
	display: block;
}

.col-centered {
	display: inline-block;
	float: none;
}

.bold {
	font-weight: 900;
}



@media only screen and (max-width: 3000px) {

   #wrapper1 p {font-size: 2em;}
   h2 {font-size: 2.5em;}
   .arrow { width: 100px; }

}

@media only screen and (max-width: 1000px) {

   h2 {font-size: 2em;}
   h3 {font-size: 2em;}
   #wrapper1 p {font-size: 1.5em;}
   .arrow { width: 100px; }

}


@media only screen and (max-width: 600px) {

   h2 {font-size: 1.5em;}
   h3 {font-size: 1.5em;}
   #wrapper1 p {font-size: 1em;}
   #wrapper1 {
   	background-position-x: -100px;
   }
   .arrow { width: 100px; }
   .space {
   	margin-bottom: 100px;
   }

   #wrapper3 {
   	background-position-x: -520px;
    background-attachment: scroll;
   }

}

@media only screen and (max-width: 400px) {

   .timedesc { 
   	font-size: 0.8em; 
   	left:-20px;
   }
   #wrapper1 {
   	background-position-x: -200px;
   }
   .space {
    margin-bottom: 0px;
   }

}
